<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!--meta name="description" content=""-->
    <meta name="author" content="http://tamarashoes.com/assets/fourth.jpg">
    <meta property="og:image" content="">
    <meta property="og:description" content="Let your expressions speak. Design your shoe in your favorite color, model, heel shape and size. Get it manufactured bespoke for you and receive it at your doorsteps.">
    <meta name="p:domain_verify" content="8875baf4fa96dbefa1f183efe4ec1648"/>
    
    <link rel="icon" type="image/png" href="/assets/favicon-bce5a8c5a6aecaace1f07136a4aa890ff304201120ee3ea8ef5d02b5da58d82a.png"/>


    <!--title>Tamara Shoes</title-->
    <!--meta name="description" content="Design your shoes the way like it and we will craft it for you."-->

    <!--title>Tamara Shoes</title-->
    <title>Tamara Shoes</title>
<meta name="description" content="Tamarashoes - Let your expressions speak. Design your shoe in your favorite color, model, heel shape and size. Get it manufactured bespoke for you and receive" />
<meta name="keywords" content="women&amp;#39;s shoe designer online tamara shoes" />
    <!-- % set_meta_tags  title: '',
                      description: 'Member login page.',
                      keywords: 'Site, Login, Members' % -->


    <!--%= include_gon %-->
    <link rel="stylesheet" media="all" href="/assets/application-3f1f12eb4d03ba85e9f1396447378b14de0e3554d0d51230c05670e9ba57903f.css" data-turbolinks-track="true" />
    <script src="/assets/application-faeeab51efcd8caf66dc5f9c4a42946be429279b9758d8a67e8e6a17bce559d8.js" data-turbolinks-track="true"></script>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="53OCr2xU/l+eY3O/dWD7QNIa+1cnV+ZdNZVG0/sDUm5Ov11V+do3JJsfd1rYJZCsfL2LY44XlCbE4kVKz7+xJw==" />
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Noto+Serif:400,700">

    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
    
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>
    <noscript>
        <style type="text/css">
           .checkin {display:none;}
        </style>
       <div class="noscriptmsg alert alert-danger alert-dismissible">
          <p class="text-center" style="color: red;">JavaScript must be enabled in order for you to design shoes in our design studio. However, it seems JavaScript is either disabled or not supported by your browser. Please enable Javascript and try again.</p>
       </div>
    </noscript>

    
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','//connect.facebook.net/en_US/fbevents.js');

    fbq('init', '1537673706523918');
    fbq('track', "PageView");</script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1537673706523918&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

  </head>

<body>
<div id="wrap">





    <!-- NAVBAR  ================================================== -->
  <!--div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><img src="/assets/TamaraLogo-3d3736837f7063aa531692df9d3c8de5bb6f51bcd01ecd57a53b19b916f08f64.jpg" alt="Tamara Logo" width="75" height="20"></a>
            </div>
            
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/designer/selection">DESIGN YOUR SHOE</a></li>
                <li><a href="#">How It Works</a></li>
                <li><a href="/store/index">STORE</a></li>
                <li><a href="#">About Us</a></li>

                
                
                <li><a href="#">How It Works</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Sizing Guide</a></li>
              </ul>
            
              <ul class="nav navbar-nav pull-right">
                  
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      piyushanand211@yahoo.com
                      <span class="caret"></span>
                    </a>
                    
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="/users/edit">Profile</a></li>
                      <li><a rel="nofollow" data-method="delete" href="/users/sign_out">Log out</a></li>
                    </ul>
                  </li>

                  
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div -->







<!-- <div id="navbar-main"> -->

<div>
  <div ><header class="cd-header" style="z-index:100; height: 56px; border-bottom: 1px ridge black; position: fixed!important; background:white!important; ">
    <div id="cd-logo" ><a href="/"><img class="img-responsive" src="/assets/logo-2-e376a22541837b3e96b354bc3f55d2994357d0b3086936734d38062443c40d86.png" alt="Logo" height="50px" width="142" style="padding-top: 3px;"></a></div>

    <nav class="cd-primary-nav fontLato">
      <ul id="mobile-menu" class="top">
        
        
        <li class="studio"><a href="/designer/selection" style="color:black!important;">Design Now</a></li>
        <li class="studio"><a href="/store/index" style="color:black!important;">Gallery</a></li>
        <li class="studio"><a href="/associated_links/howItWorks" style="color:black!important;">How It Works</a></li>
        <!--li><a href="#0">Gallery</a></li-->
        <!--li class="about"><a href="/associated_links/AboutUs" style="color:black!important;">About Us</a></li-->
                  
                  <li class="dropdown" style="top: -2px;">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:black!important;">
                      <!-- user.name-->
                         Hi! piyush...
                      <span class="caret"></span>
                    </a>
                    
                    <ul class="dropdown-menu" role="menu" style="display: block!important; position:absolute!important; margin-top: 3%!important; margin-rigth: 3%;" >
                      <li style="display:block!important; text-transform: none!important; margin:0!importnat;"><a href="/users/edit.177">Account</a></li>
                      <li style="display: block!important;"><a href="/home/mydesigns">My Designs</a></li>
                      <li style="display: block!important;"><a class="mem1" style="pointer-events: none; cursor: default; color:#999999">My Cart</a></li>
                      <li style="display: block!important;"><a class="mem1" style="pointer-events: none; cursor: default; color:#999999">My Orders</a></li>

                      <li style="display: block!important;"><a rel="nofollow" data-method="delete" href="/users/sign_out">Log out</a></li>
                    </ul>
                  </li>

                  
      </ul>
    </nav> <!-- .cd-primary-nav -->
  </header>
</div>





  <div class="modal fade col-md-offset-1 col-md-12" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content login-modal">
        <p></p>
          <!-- <div class="modal-header login-modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-center" id="loginModalLabel">USER AUTHENTICATION</h4>
          </div> -->
          <div class="modal-body">
            <p></p>
             <button type="button" class="close" id="modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="text-center">
              <div role="tabpanel" class="login-tab">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a id="signin-taba" href="#home" aria-controls="home" role="tab" data-toggle="tab">Log In</a></li>
                <li role="presentation"><a id="signup-taba" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Sign Up</a></li>
                <li role="presentation"><a id="forgetpass-taba" href="#forget_password" aria-controls="forget_password" role="tab" data-toggle="tab">Forget Password</a></li>
              </ul>
                
              <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active text-center" id="home">
                  &nbsp;&nbsp;
                  <span id="login_fail" class="response_error" style="display: none;">Login failed, please try again.</span>
                  <div class="clearfix"></div>
                  <form id = "login-form" action="" method="post">
                    
                      
                    
                    <h4>LOGIN</h4>
                    <div class="alert alert-danger alert-login" role="alert" style="display:none;">
                        <!-- The email and password you entered don't match. -->
                    </div>
                  <div class="form-group">
                      <div class="input-group">
                          <div class="input-group-addon"><i class="fa fa-at fa-fw"></i></div>
                          <input type="email" class="form-control" id="login_email" placeholder="Email">
                      </div>
                      <span class="help-block has-error" id="email-error"></span>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                          <div class="input-group-addon"><i class="fa fa-key fa-fw"></i></div>
                          <input type="password" class="form-control" id="password" placeholder="Password">
                      </div>
                      <span class="help-block has-error" id="password-error"></span>
                    </div>
                    <button type="submit" id="login_btn" class="btn btn-block bt-login" data-loading-text="Signing In....">Login</button>
                    <div class="clearfix"></div>
                    <div class="login-modal-footer">
                      <div class="row">
                      <div class="col-xs-8 col-sm-8 col-md-8">
                        <i class="fa fa-lock"></i>
                        <a href="#" class="forgetpass-tab"> Forgot password? </a>
                      
                      </div>
                      
                      <div class="col-xs-4 col-sm-4 col-md-4">
                        <i class="fa fa-check"></i>
                        <a href="#" class="signup-tab"> Sign Up </a>
                      </div>
                    </div>
                    </div>
                </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">
                    &nbsp;&nbsp;
                    <span id="registration_fail" class="response_error" style="display: none;">Registration failed, please try again.</span>
                    <!-- -->
                   
                  <div class="clearfix"></div>
                  <form id ="signup-form" action="" method="post">

                    <h4>REGISTER</h4>
                    <div class="alert alert-danger alert-dismissible" role="alert" style="display:none;">
                        <!--There seems to be an error. -->
                   </div>
                  <!-- <div class="form-group">
                      <div class="input-group">
                          <div class="input-group-addon"><i class="fa fa-user"></i></div>
                          <input type="text" class="form-control" id="username" placeholder="Username">
                      </div>
                      <span class="help-block has-error" data-error='0' id="username-error"></span>
                    </div> -->
                    <div class="form-group">
                      <div class="input-group">
                          <div class="input-group-addon"><i class="fa fa-at fa-fw"></i></div>
                          <input type="email" class="form-control" id="remail" placeholder="Email">
                      </div>
                      <span class="help-block has-error" data-error='0' id="remail-error"></span>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                          <div class="input-group-addon"><i class="fa fa-unlock-alt fa-fw"></i></div>
                          <input type="password" class="form-control" id="rpassword" placeholder="Password">
                      </div>
                      <span class="help-block has-error" id="password-error"></span>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                          <div class="input-group-addon"><i class="fa fa-key fa-fw"></i></div>
                          <input type="password" class="form-control" id="confirm-password" placeholder="Confirm Password">
                      </div>
                      <span class="help-block has-error" id="password-conf-error"></span>
                    </div>
                    <button type="submit" id="register_btn" class="btn btn-block bt-login" data-loading-text="Registering....">Register</button>
                  <div class="clearfix"></div>
                  <div class="login-modal-footer">
                      <div class="row">
                      <div class="col-xs-8 col-sm-8 col-md-8">
                        <i class="fa fa-lock"></i>
                        <a href="#" class="forgetpass-tab"> Forgot password? </a>
                      
                      </div>
                      
                      <div class="col-xs-4 col-sm-4 col-md-4">
                        <i class="fa fa-check"></i>
                        <a href="#" class="signin-tab"> Sign In </a>
                      </div>
                    </div>
                    </div>
                </form>
                </div>
                <div role="tabpanel" class="tab-pane text-center" id="forget_password">
                  &nbsp;&nbsp;
                    <span id="reset_fail" class="response_error" style="display: none;"></span>
                    <div class="clearfix"></div>
                    <form id ="password-form" action="" method="post">
                      
                      <div class="alert alert-danger alert-pass" role="alert" style="display:none;">
                        <!-- The email and password you entered don't match. -->
                    </div>
                      <h4>FORGOT PASSWORD?</h4>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-envelope "></i></div>
                            <input type="email" class="form-control" id="femail" placeholder="Email">
                        </div>
                        <span class="help-block has-error" data-error='0' id="femail-error"></span>
                      </div>
                      
                      <button type="submit" id="reset_btn" class="btn btn-block bt-login" data-loading-text="Please wait....">Forget Password</button>
                    <div class="clearfix"></div>
                    <div class="login-modal-footer">
                        <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                          <i class="fa fa-lock"></i>
                          <a href="#" class="signin-tab"> Sign In </a>
                        
                        </div>
                        
                        <div class="col-xs-6 col-sm-6 col-md-6">
                          <i class="fa fa-check"></i>
                          <a href="#" class="signup-tab"> Sign Up </a>
                        </div>
                      </div>
                      </div>
                  </form>
                  </div>
                </div>
            </div>
                <!-- div class="login-modal-footer">
                  <div class="row">
                    <a class="popup" data-width="800" data-height="600" href="/users/auth/facebook"><img width="180px" height="30px" src="/assets/fb-logo-dd8da19d1ccf4ecd836c6726e17ef890cdcd00bbfcedb5d2863b8571d731f956.png" alt="Fb logo dd8da19d1ccf4ecd836c6726e17ef890cdcd00bbfcedb5d2863b8571d731f956" /></a>
                    <a class="popup" data-width="800" data-height="600" href="/users/auth/google_oauth2"><img width="180px" height="30px" src="/assets/gplus-logo-f65e46e80aa82e00b4d14dc3da8334480aa3f528e690d809f04bebb40fe9265f.png" alt="Gplus logo f65e46e80aa82e00b4d14dc3da8334480aa3f528e690d809f04bebb40fe9265f" /></a>
                  </div>
                </div -->
              </div>
            </div>
            
        </div>

     </div>
  </div>
 <!--unless current_page?(home_path)%-->
  <!--%= render partial: "layouts/nav" %-->
  <br>
</div>
  




 <div>
  <div class="col-md-10 col-md-offset-1">
<!-- <h2>Edit User</h2> -->
<div class="text-center">
<h4 class="fontPlayball"> Edit Account </h4>
</div>
<br/>
<div class="tabs fontLato">
        <ul class="nav nav-tabs" role="tablist" id="myTab" >

          <li role="presentation" class="active"><a href="#personal" aria-controls="personal" role="tab" data-toggle="tab" style="font-size:13px!important;">Personal</a></li>
          <li role="presentation"><a href="#general" aria-controls="general" role="tab" data-toggle="tab" style="font-size:13px!important;">Update Password</a></li>

        </ul>
    <div class="tab-content" style="border-right: 1px solid #DCE1E3;border-left: 1px solid #DCE1E3;border-bottom: 1px solid #DCE1E3;">
          <div role="tabpanel" class="tab-pane active" id="personal"> 
            <div class="container" style="margin-left:20px; font-size:12px!important;">
            <br/>
            <br/>

            <form class="edit_user" id="edit_user" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="_method" value="put" /><input type="hidden" name="authenticity_token" value="P+1Br0bEr/ZyhdDmvzFwqm/tM056OGr33ER1uzRpMSqWIZ5V00pmjXf51AMSdBtGwUpDetN4GIwtM3YiANXSYw==" />
           <div><h5>  </h5> </div>

       <div class="field">
        <label for="user_First Name">First name</label><br />
        <input type="text" name="user[firstname]" id="user_firstname" />
       </div>

       <div class="field">
        <label for="user_Last Name">Last name</label><br />
        <input type="text" name="user[lastname]" id="user_lastname" />
       </div>
       

     <div class="field">
        <label for="user_current_password">Current password</label> <i>(we need your current password to confirm your changes)</i><br />
        <input autocomplete="off" type="password" name="user[current_password]" id="user_current_password" />
     </div>
     <br/>
     <div class="actions">
         <input type="submit" name="commit" value="Update" class="fontLato btn button1" />
      </div>
      <br/>
      <br/>
</form>    </div>
            

      </div>
       <div role="tabpanel" class="tab-pane" id="general" style="margin-left:40px; font-size:12px!important;">
        <br/>
        <br/>
<form class="edit_user" id="edit_user" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="_method" value="put" /><input type="hidden" name="authenticity_token" value="twa0+vLBr78y0c2AKGI8PjgAVx/DIa/kMpuGzg6jFXEeymsAZ09mxDetyWWFJ1fSlqcnK2ph3Z/D7IVXOh/2OA==" />
  <div><h5>  </h5> </div>

   <!--div class="field">
    <label for="user_email">Email</label><br />
    <input autofocus="autofocus" type="email" value="piyushanand211@yahoo.com" name="user[email]" id="user_email" />
  </div-->


  <div class="field">
    <label for="user_password">Password</label> <i>(leave blank if you don't want to change it)</i><br />
    <input autocomplete="off" type="password" name="user[password]" id="user_password" />
  </div>

  <div class="field">
    <label for="user_password_confirmation">Password confirmation</label><br />
    <input autocomplete="off" type="password" name="user[password_confirmation]" id="user_password_confirmation" />
  </div>

  <div class="field">
    <label for="user_current_password">Current password</label> <i>(we need your current password to confirm your changes)</i><br />
    <input autocomplete="off" type="password" name="user[current_password]" id="user_current_password" />
  </div>
    <br/>
  <div class="actions">
    <input type="submit" name="commit" value="Update" class="fontLato btn button1" />
  </div>
  <br/>
  <br/>
</form>
      </div>


</div>


</br>
</br>
</br>
</br>


</div>

</div>



   
    <!-- Other Assorted links -->
   
    <div id="footer">
      
      <!--div class="tomottoWrap">
    <div id="tomotto">
      “In such seconds of decision entire futures are made.” 
― Dan Simmons, Hyperion
    </div>
  </div-->
  <!--div class="or-spacer">
  <div class="mask"></div>
  
</div-->
  <div class="lookWrap fontLato" style="text-align: left; border-top: 1px solid black; border-bottom: 1px solid black;">
    <div id="look">
      <div class="section" style="padding-bottom:5px;">
        <h3>company information</h3>
        <a id="about-us-link" style="color:black!important" href="/associated_links/AboutUs">about us</a>
        <a style="color:black!important" href="/associated_links/FAQ">FAQs</a> 
        <a style="color:black!important" href="/associated_links/featuredAt">featured at</a>
        
        <a style="color:black!important" href="/associated_links/careers">careers</a>
        <a style="color:black!important" href="/associated_links/PrivacyPolicy">privacy policy</a>
        
        
      </div>
      <div class="section">
        <h3>product information</h3>
        <a style="color:black!important" href="/associated_links/materials">fabrics</a><a style="color:black!important" href="/associated_links/Shipping">shipping</a>

        <a style="color:black!important" href="/associated_links/ReturnsAndCancellations">cancellations</a>
        
        
      </div>
      <div class="section">
        <h3>connect with us</h3>
        <span style="padding: 5px;"><a  style="display:inline-block; color:black!important;"href="https://www.facebook.com/tamara.shoes/" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></span>
        <span style="padding: 5px;"><a style="display:inline-block; color:black!important;" href="https://twitter.com/tamara_shoes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></span>
        <span style="padding: 5px;"><a style="display:inline-block; color:black!important;" href="https://www.youtube.com/channel/UCgDMMrGUaWV4jJMtGmNty5g" target="_blank"><i class="fa fa-youtube fa-lg"></i></a></span>
        <span style="padding: 5px;"><a style="display:inline-block; color:black!important;" href="https://www.instagram.com/tamara_shoes/" target="_blank"><i class="fa fa-instagram fa-lg"></i></a></span>

        <span style="padding: 5px;"><a style="display:inline-block; color:black!important;" href="https://in.pinterest.com/tamara_shoes/" target="_blank"><i class="fa fa-pinterest fa-lg"></i></a></span>

       <span style="padding: 5px;"><a style="display:inline-block; color:black!important;" href="http://blog.tamarashoes.com" target="_blank"><i class="fa fa-rss-square fa-lg"></i></a></span>
        <br/>
        <a style="color:black!important; margin-top: 7px;" href="mailto:contactus@tamarashoes.com?Subject=Hello%20again" target="_top">contactus@tamarashoes.com</a>
        <span style="font-weight:100">+91-9538912690</span> 
                    
      </div>  
      <div class="section">
        <h3>our guarantee</h3>
        <span style="font-weight: 100; font-size: 15px!important;">no-questions-asked<br/>
        100% return gurantee<br/>
        within 15 days</span>
                    
      </div> 
       <!-- Marketing Placeholder for Webengage -->
<script id="_webengage_script_tag" type="text/javascript">
  var _weq = _weq || {};
  _weq['webengage.licenseCode'] = '~47b66943';
  _weq['webengage.widgetVersion'] = "4.0";
  
  (function(d){
    var _we = d.createElement('script');
    _we.type = 'text/javascript';
    _we.async = true;
    _we.src = (d.location.protocol == 'https:' ? "https://ssl.widgets.webengage.com" : "http://cdn.widgets.webengage.com") + "/js/widget/webengage-min-v-4.0.js";
    var _sNode = d.getElementById('_webengage_script_tag');
    _sNode.parentNode.insertBefore(_we, _sNode);
  })(document);
</script>

<!-- Marketing Placeholder for Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68450169-1', 'auto');
  ga('require', 'linkid');
  ga('send', 'pageview');

</script>


<!--<form novalidate="novalidate" class="simple_form new_newsletter" id="new_newsletter" action="/newsletters" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="fwr0VUhOQ3kuKdCukIt0MCKhGFBSV2SgymLlruqROyfWxiuv3cCKAitV1Es9zh/cjAZoZPsXFts7FeY33i3Ybg==" />

 <div class="text-center newsltrform" style="padding-top:10px;">
 <div class="text-center" id="sub-form" style="display:inline-block;">

	<lable id="sub-label" style="display:inline-block;"> I'd like to stay updated with the latest designs and offers: </label>
		<div style="display:inline-block;" class="nletter"><div class="input email required newsletter_email"><input class="string email required" placeholder="  Email Address" type="email" name="newsletter[email]" id="newsletter_email" /></div></div>
		<div style="display:inline-block;"><input type="submit" name="commit" value="SUBSCRIBE" class="sub-btn fontPlayball" /> </div>
   </div>
 </div>
 <div class="newsltrthanku text-center" style="display:none;">
 	Thanks for subscribing to our newsletter. We will be in touch soon.
 </div>

  
  
</form> -->

<!--%= simple_form_for Newsletter.new, { wrapper_html: {:class => "form-inline" }} do |f| %-->
<form id="newsletterform" onsubmit="handle">
<div class="section" id="newsletter_id">
        <h3>join our newsletter</h3>
        <span style="font-weight: 100">enter you email-id and stay<br/>
          <span style="display:inline-block; margin-right:5px;">in touch </span><span id="newsletter_input" style="display:inline-block; font-size: 12px!important;">
          <input type="email" class="newsletterclass" id="newsletter_email" placeholder="email address"><!--%= f.input :email, :label => false, autofocus: false, :placeholder => "  email address", :class => "newsletterclass" %--> </span>
          <br/>
          <!--i style="font-style: italic;">© Copyright 2015 TamaraShoes </i-->
        </span>
                    
</div> 
</form>
<!--% end %-->



<!-- <a href="/newsletters">Back</a> -->
 
        
      <!--div class="social">
          <a class="slink" href="https://www.facebook.com/Tamara.Shoes/" target="_blank"><span>Facebook</span></a>
          <a class="slink" href="https://twitter.com/Tamara_Shoes" target="_blank"><span>Twitter</span></a>
          <a class="slink" href="https://www.youtube.com/channel/UCgDMMrGUaWV4jJMtGmNty5g" target="_blank"><span>Youtube</span></a>
          <a class="slink" href="http://blog.tamarashoes.com" target="_blank"><span>Blog</span></a>
      </div-->
    </div>
  </div>
  

  
  <div class="text-center">
    <span class="text-center" style="display: inline-block;">
      <img class="img-responsive text-center" src="/assets/FaviconFooter-34bebdc54ef862946ca1b994fbedb1e9e8a27c5a3b426c1f077aa9f5d636a88f.png" alt="Logo" height="40" width="40" style="margin: 0 auto; padding: 5px; display: inline-block;"><span style="display: inline-block;"><i style="font-style: italic; font-size: 10px!important; font-weight:50!important;">© Copyright 2016 TamaraShoes </i></span></span>
  </div>

  

<!--div>
  <div class="legality">
        © Copyright 2015 TamaraShoes
  </div>
</div-->
</div>
   
    <!-- Other Assorted links finish here-->


    <!-- FOOTER -->
  <!--  <div class="col-md-10 col-md-offset-1">
    <footer>
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2015 TamaraShoes <!-- &middot; --><!--  <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p> -->
   <!-- </footer> 
    <div class="col-md-10 col-md-offset-1"> -->
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
      <!-- CDN for konva js plugin for image map -->
    <!--</div> -->
      <!--Start of Tawk.to Script-->
      <script type="text/javascript">
      var $_Tawk_API={},$_Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/56bb3a612fd271b630fb02f6/default';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();
      </script>
      <!--End of Tawk.to Script-->
      <!--Start of Mouseflow Script -->
      <script type="text/javascript">
        var _mfq = _mfq || [];
        (function() {
          var mf = document.createElement("script");
          mf.type = "text/javascript"; mf.async = true;
          mf.src = "//cdn.mouseflow.com/projects/c1124234-f04b-4e4f-8b62-27ddda879f21.js";
          document.getElementsByTagName("head")[0].appendChild(mf);
        })();
      </script>
      <!-- ENd of Mouseflow Script -->
      <!--- Start of AdRoll Script -->
      <!--script type="text/javascript">
        adroll_adv_id = "W44XNFYGOFHX3LCXUGBU6Q";
        adroll_pix_id = "3PFNGVHXHNC65FRU6MQELN";
        /* OPTIONAL: provide email to improve user identification */
        /* adroll_email = "username@example.com"; */
        (function () {
            var _onload = function(){
                if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
                if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
                var scr = document.createElement("script");
                var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
                scr.setAttribute('async', 'true');
                scr.type = "text/javascript";
                scr.src = host + "/j/roundtrip.js";
                ((document.getElementsByTagName('head') || [null])[0] ||
                    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
            };
            if (window.addEventListener) {window.addEventListener('load', _onload, false);}
            else {window.attachEvent('onload', _onload)}
        }());
        </script-->
      <!-- End of Adroll script -->


  </body>
</html>


                <!--li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categories <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Shoes</a></li>
                    <li><a href="#">Sandals</a></li>
                    <li><a href="#">Heels</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">More</li>
                    <li><a href="#">Featured Products</a></li>
                    <li><a href="#">Most Popular</a></li>
                    <li><a href="#">Highest Discounts</a></li>
                  </ul>
                </li-->

                
<!--                  -->
